.titulo-main {
    text-align: center;
    margin-bottom: 30px;
    font-family: cursive;
    color: var(--ion-color-warning-shade);
}

.area-mensaje {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    resize: none;
    outline-color: var(--ion-color-warning-shade);
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    outline-width: 3px;
    background: transparent;
}

.contenedor-redes {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.input-redes {
    width: 75%;
    height: 35px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: none;
    font-size: 0.8rem;
    outline-color: var(--ion-color-warning-shade);
    text-align: center;
}

.btn-redes {
    width: 25%;
    height: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    --padding: 0;
    margin: 0;
    --border-radius: 0 30px 30px 0;
}

.label-redes {
    font-size: 0.5rem;
    text-align: center;
}

.icono-redes {}


.contenedor-btn-enviar {
    text-align: center;
}

.btn-enviar {
    --border-radius: 30px;
    width: 100%;
    font-weight: bold;
    --background: linear-gradient(90deg, rgba(227, 255, 0, 1) 0%, rgba(209, 78, 6, 1) 100%);
}

.btn-enviar::part(native) {
    color: #fff;
    // background: linear-gradient(90deg, rgba(227,255,0,1) 0%, rgba(209,78,6,1) 100%);
}

.aviso-redes {
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 0 10px 20px 10px;
    background: white;
    box-shadow: 1px 6px 10px rgb(0 0 0 / 50%);
    animation: sacudir 1s linear 0s infinite normal forwards;
    animation-play-state: paused;
}

.aviso-redes:before {
    border: 10px solid white;
    content: "";
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 7px);
}

.ocultar{
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}




// Eventos CSS

.input-redes:focus,
.area-mensaje:focus {
    border: none;
}


// Animaciones CSS

@keyframes sacudir {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}